
<h1> Edit a Post 💩 </h1>

<form action="<%=post_url(@post)%>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="patch">
  
  
  Title
  <br>
  <input type="text" name="post[title]" value="<%=@post.title%>">
  <br>
  URL
  <br>
  <input type="text" name="post[url]" value="<%=@post.url%>">
  <br>
  Content
  <br>
  <input type="text" name="post[content]" value="<%=@post.content%>">
  <br>
  <br>
  Subs
  <br>
  <input type="hidden" name="post[sub_ids][]" value="">
  <% Sub.all.each do |s| %>
  <br>
    <label>
        <input
          type="checkbox"
          value="<%= s.id %>"
          name="post[sub_ids][]"
          <%= "checked" if @post.sub_ids.include?(s.id) %>
        />
        <%= s.title %>
    </label>
  <% end %>
  <br>
  <br>
  <input type="submit" name="" value="Edit Post">
</form>
